<a href="https://colab.research.google.com/github/acti12/2025_AlgoritmaDanPemrogaman-Pertemuan3/blob/main/Praktikum_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Praktikum 1 - Perulangan For dengna Range

In [ ]:
for i in range(1,6):
    print(i)

1
2
3
4
5

# Praktikum 2 - Perulangan While

In [ ]:
n = int(input("Masukkan angka: "))
while n > 0:
    print(n)
    n-=1

Masukkan angka: 5
5
4
3
2
1

# Praktikum 3 - Nested Loop (Segitiga Bintang)

In [ ]:
for i in range(1, 6):
  for j in range(i):
    print("*", end="")
  print()

*
**
***
****
*****

# Praktikum 4 - Break dan Continue

In [ ]:
# Break

for i in range(1, 11):
    if i == 5:
        print("Angka 5 ditemukan")
        break

Angka 5 ditemukan

In [ ]:
# Continue

for i in range(1,6):
  if i % 2 == 1:
    continue
  print(i)

2
4

# Praktikum 5 - For pada Dictionary

In [ ]:
data = {"Nama": "Andi", "Umur":20, "Prodi": "TRK"}

for k, v in data.items():
  print(k, ":", v)

Nama : Andi
Umur : 20
Prodi : TRK

# Praktikum 6 - For dengan Enumerate

In [ ]:
daftar = ["Andi", "Budi", "Cici"]

for i, nama in enumerate(daftar, start=1):
  print(i, nama)

1 Andi
2 Budi
3 Cici

Praktikum 7 - Studi Kasus: Program Kasir Multi-Item

In [ ]:
total = 0

while True:
  barang = input("Masukkan nama barang(ketik 'selesai' untuk berhenti): ")
  if barang.lower() == "selesai":
      break
  harga = float(input(f"Masukkan harga {barang}: "))
  jumlah = int(input(f"Masukkan jumlah {barang}: "))
  subtotal = harga * jumlah
  total += subtotal
print("\n===== Struk Belanja =====")
print(f"Total Belanja : Rp {total}")

Masukkan nama barang(ketik 'selesai' untuk berhenti): Buku
Masukkan harga Buku: 50000
Masukkan jumlah Buku: 2
Masukkan nama barang(ketik 'selesai' untuk berhenti): Pulpen
Masukkan harga Pulpen: 5000
Masukkan jumlah Pulpen: 3
Masukkan nama barang(ketik 'selesai' untuk berhenti): selesai

===== Struk Belanja =====
Total Belanja : Rp 115000.0

# Penugasan 1 - Menampilkan Deret Angka

In [ ]:
for i in range (3, 30):
  step = 3
  if i % step == 0:
    print(i)

3
6
9
12
15
18
21
24
27

# Penugasan 2 - Hitung Faktorial

In [ ]:
n = int(input("Masukkan bilangan bulat positif: "))
faktorial = 1
if n < 0:
  print("Faktorial tidak terdefinisi untuk bilangan negatif")
elif n == 0:
  print("Faktorial dari 0 adalah 1")
else:
  i =1
  while i <= n:
    faktorial *= i
    i += 1
  print(f"Faktorial dari {n} adalah {faktorial}")

Masukkan bilangan bulat positif: 5
Faktorial dari 5 adalah 120

# Penugasan 3 - Pola Segitiga Terbalik

In [ ]:
tinggi = int(input("Masukkan tinggi segitiga: "))

for i in range(tinggi, 0, -1):
  for j in range(i):
    print("*", end="")
  print()

Masukkan tinggi segitiga: 5
*****
****
***
**
*

# Penugasan 4 - Cari Bilangan Prima dengan Break

In [ ]:
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True

print("Bilangan prima antara 1 dan 50:")
for num in range(1, 51):
    if is_prime(num):
        print(num)

Bilangan prima antara 1 dan 50:
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47

# Penugasan 5 - Tampilkan Hanya Bilangan Genap dengan Continue

In [ ]:
for i in range(1, 21):
  if i % 2 != 0:
    continue
  print(i)

2
4
6
8
10
12
14
16
18
20

# Penugasan 6 - Iterasi Dictionary Mahasiswa

In [ ]:
data = {"Nama": "Budi", "Umur": 21, "Prodi": "Teknik Komputer"}
for k, v in data.items():
  print(k, ":", v)

Nama : Budi
Umur : 21
Prodi : Teknik Komputer

# Penugasan 7 - Enumerate Daftar Barang

In [ ]:
Barang = ("Buku", "Pulpen", "Tas")
for i, nama in enumerate(Barang, start=1):
  print(i, nama)

1 Buku
2 Pulpen
3 Tas

# Penugasan 8 - Studi Kasus - Kasir Diskon

In [2]:
total = 0
diskon_total = 0

while True:
  barang = input("Masukkan nama barang(ketik 'selesai' untuk berhenti): ")
  if barang.lower() == "selesai":
    break
  harga = float(input(f"Masukkan harga {barang}: "))
  jumlah = int(input(f"Masukkan jumlah {barang}: "))
  subtotal = harga * jumlah
  total += subtotal

  diskon_item = 0
  if subtotal >= 2000000:
    diskon_item = subtotal *0.1
  diskon_total += diskon_item

  print("\n===== Struk Belanja =====")
  print(f"Total Belanja sebelum diskon: Rp {total}")
  print(f"Total Diskon: Rp {diskon_total}")
  print(f"Total Bayar: Rp {total - diskon_total}")

Masukkan nama barang(ketik 'selesai' untuk berhenti): OP1 8K - Endgame Gaming Mouse
Masukkan harga OP1 8K - Endgame Gaming Mouse: 2500000
Masukkan jumlah OP1 8K - Endgame Gaming Mouse: 1

===== Struk Belanja =====
Total Belanja sebelum diskon: Rp 2500000.0
Total Diskon: Rp 250000.0
Total Bayar: Rp 2250000.0
Masukkan nama barang(ketik 'selesai' untuk berhenti): ASUS NVIDIA RTX 5090 24GB
Masukkan harga ASUS NVIDIA RTX 5090 24GB: 51320000
Masukkan jumlah ASUS NVIDIA RTX 5090 24GB: 1

===== Struk Belanja =====
Total Belanja sebelum diskon: Rp 53820000.0
Total Diskon: Rp 5382000.0
Total Bayar: Rp 48438000.0
Masukkan nama barang(ketik 'selesai' untuk berhenti): selesai